Package: apt-parrot
Version: 2.7.3+parrot1
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 57
Pre-Depends: parrot-archive-keyring, apt
Recommends: parrot-core, python-apt-common
Replaces: parrot-update-manager (<= 1.6)
Section: parrot
Priority: important
Homepage: http://www.parrotsec.org/
Description: Parrot APT repositories
 this package will install an /etc/apt/sources.list file containing
 all the repositories provided by FrozenBox Dev Team for Parrot OS
