Package: apt-parrot
Version: 2.5.7
Architecture: all
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Installed-Size: 68
Pre-Depends: parrot-archive-keyring, apt
Recommends: parrot-core, python-apt-common (>= 0.8.8.2-parrot0), apt-xapian-index
Conflicts: apt-frozenrepos
Includes: parrot-update-manager (<= 1.6)
Replaces: parrot-update-manager (<= 1.6)
Section: parrot
Priority: important
Description: Parrot APT repositories
 this package will install an /etc/apt/sources.list file containing
 all the repositories provided by FrozenBox Dev Team for Parrot OS
