Source: apt-parrot
Section: parrot
Priority: required
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
Standards-Version: 4.1.0
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: pkg-config
Homepage: https://www.parrotsec.org/

Package: apt-parrot
Architecture: all
Priority: important
Pre-Depends: parrot-archive-keyring, apt
Depends: apt-transport-https
Recommends: parrot-core, python-apt-common
Suggests: apt-transport-tor
Replaces: parrot-update-manager (<= 1.6)
Description: Parrot APT repositories
 this package will install an /etc/apt/sources.list file containing
 all the repositories provided by FrozenBox Dev Team for Parrot OS
