Source: apt-parrot
Section: parrot
Priority: required
Maintainer: Parrot Dev Team <parrot-devel@lists.parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: pkg-config
Homepage: https://www.parrotsec.org/

Package: apt-parrot
Architecture: all
Priority: important
Pre-Depends: parrot-archive-keyring, apt
Depends: apt-transport-https
Recommends: parrot-core, python-apt-common, apt-transport-tor
Includes: parrot-update-manager (<= 1.6)
Replaces: parrot-update-manager (<= 1.6)
Description: Parrot APT repositories
 this package will install an /etc/apt/sources.list file containing
 all the repositories provided by FrozenBox Dev Team for Parrot OS
